/* @extend display-flex; */
display-flex, .form-group, .form-select, .form-radio, .form-textarea, .form-date, .form-radio-item, .form-flex, .form-date-item .select-icon, .form-date-item .select-icon i, #val, #button, .steps ul, .actions ul, .actions ul li a, .title, .number {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }



.clear {
  clear: both; }

h2 {
  font-size: 20px;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding-top: 35px; }

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  font-weight: 400;
  font-family: 'Roboto Slab';
  margin: 0px;

  background-image: linear-gradient(180deg,rgba(33, 132, 190, 0.5) 0%,rgba(255,255,255,0.86) 100%),url("/img/ucv-mural1.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.main {
  padding: 95px 0; }

.container {
  width: 850px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; 
  padding-bottom: 35px;
}

.obligatorio{
  color: red;
  font-weight: bold;
}

@media (max-width: 850px) {
  .container {
    width: 90%;
  }
}
.hide-div{
  display:none;
}
.show-div{
  display:initial;
}
.descripcion{
  padding: 50px 20px 5px 20px;
  text-align: justify;
}
.anonimo{
  padding: 5px 20px 0px 20px;
  text-align: center;
  font-style: italic;
}
.message_title{
  font-size: 4.25rem;
}
.message_font{
  font-size: 6.75rem;
}
.message_icon1{
  line-height: 1;
  color: #24b663;
}
.message_icon2{
  line-height: 1;
  color: red;
}
.center{
  text-align: center;
}

#wizard .select2-selection--multiple ul input{
  border: none;
}
#wizard textarea {
  resize: none;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
  margin: 0;
}

#wizard .select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
#wizard .select2 li input{
  width: initial !important;
}

#wizard > .content > .body input.error,
#wizard > .content > .body textarea.error, 
.error .select2-container--default .select2-selection--multiple,
.error .select2-container--default .select2-selection--single  {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}
.content section{
  overflow-x: auto;
}
