.app-container {
    min-height: 90%;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #f1f1f1; 
}
.navbar .navbar-nav>li>a {
    font-family: Open Sans,sans-serif;
    text-transform: initial; 
}
.glyphicon-question-sign{
    cursor: pointer;
}
.well .popup_close {
    position: absolute;
    top: 0;
    right: 0px;
    border-radius: 2px;
    background: none;
    border: 0;
    font-size: 25px;
    padding: 0 10px;
}
/*Eliminando fondos linear para plugin de accesibilidad contraste*/
.voyager .side-menu.sidebar-inverse{
    background: #353d47;
}
.panel-footer {
    background: #fdfdfd;
}
.pagination>li>a, .pagination>li>span{
    background-color: inherit;
}